# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.ubermatcher

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Hide omniauth keys
config/initializers/omniauth.rb

# Hide password for database
config/database.yml

