# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/test.ubermatcher
/db/development.ubermatcher
db/development.ubermatcher

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
bundler_stubs/

# Hide omniauth keys
config/initializers/omniauth.rb

# Hide password for database
config/database.yml

