- content_for :column1 do
  / = render 'layouts/sidebar'
- content_for :column2 do
  .container
    %section.header
      .white_box
        .row
          .span4
            .text
              %h1 Lorem ipsum
              %h2 Nulla ultricies adipiscing
              %br
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies adipiscing tortor, at tempor erat rhoncus nec.
                %p Nullam quis sem vitae tortor convallis dignissim at et dui. Nullam in eros nulla, porttitor placerat lorem. Nunc ornare iaculis tincidunt.
                %p Quisque vitae tempor nisi. Donec varius nulla id urna rhoncus ut mattis odio scelerisque. In hac habitasse platea dictumst.
                %p Ut congue vestibulum facilisis. Cras a suscipit velit. Donec vehicula interdum facilisis.
                Sed venenatis iaculis sapien, ut pretium lectus consequat eget. Maecenas quis massa in lorem sollicitudin venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce venenatis nisi augue.
          .span8
            #myCarousel.carousel.slide
              .carousel-inner
                .item.active

                  %img{:alt => "", :src => "assets/fontan-leg-1.jpg"}
                    .carousel-caption
                      %h4 First Project Description
                      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                .item
                  %img{:alt => "", :src => "assets/fontan-leg-2.jpg"}
                    .carousel-caption
                      %h4 Second Project Description
                      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                .item
                  %img{:alt => "", :src => "assets/fontan-leg-3.jpg"}
                    .carousel-caption
                      %h4 Third Project Description
                      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

    %section.header
      .white_box
        .row
          .span4
            .text

