
- content_for :column1 do
  / = render 'layouts/sidebar'
- content_for :column2 do
  .hero-unit
    %h1#logo
      UberMatcher
    %h2 Helping nerds breed since 2012
    %p
      = link_to('Sign up to breed your nerds » ', new_user_registration_path, class: "btn btn-large")
      = link_to "Sign in to UberMatch your Facebook friends", user_omniauth_authorize_path(:facebook)

    .row-fluid 
      .span4
        .span4.badge.badge-info
          %h3 Step 1: 
        .span8
          %h3 Violate the privacy of your nerds
        Import your list of single friends who you haven't been able to set up already, because they are nerds, from Facebook.
        %p
          %a.btn{:href => "#"} View details »  
      .span4
        .span4.badge.badge-info 
          %h3 Step 2: 
        .span8
          %h3 Match your nerds up with other nerds
        Work with other ubermatchers to make introductions between compatible nerds.  Talk to other matchmakers, review their friend lists, and decide on where to set your (mutual) friends up on a blind date.
        %p
          %a.btn{:href => "#"} View details »
      .span4
        .span4.badge.badge-info 
          %h3
            Step 3:  
        .span8
          %h3 Watch your nerds breed
        Not on a video, pervert.  On Facebook.  Using our app.  Over a period of years.  Get points for second dates, relationships, marriages, and children.  Yes, even if the kids are ugly.
        %p
          %a.btn{:href => "#"} View details »
    