body {
  
  .thick-header {
    padding-top: 50px;
  }
}

.brand {
  font-family: 'Audiowide';
  font-color: deeppink;
}

#logo {
  font-family: 'Audiowide';
  color: deeppink;
  font-size: 500%;
  padding: 30px;

  a {
    color: white;
    padding: 40px;

    &:hover {

      color: white;
      text-decoration: none;
      opacity: .5;
      -moz-transition: height 1s ease-in, opacity 2s ease;
      -webkit-transition: height 2s ease-in-out, opacity 5s ease;
      -o-transition: height 1s ease-in, opacity 1s ease;
      transition: height 2s ease-in, opacity 1s ease;

    }

    &:visited {
    }
  }
}
