%link{:href => "http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Bad+Script|Yesteryear|Marck+Script|Engagement|Dynalight|Trykker|Playball|Arizonia|Dynalight", :rel => "stylesheet", :type => "text/css"}/
