%link{:href => "http://fonts.googleapis.com/css?family=Sirin+Stencil|Chau+Philomene+One|Contrail+One|Monofett|Averia+Libre|Comfortaa|Handlee|Krona+One|Righteous|Jura|Audiowide", :rel => "stylesheet", :type => "text/css"}
