%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "World's most awsome way to set your friends up on blind dates", :name => "description"}
%meta{:content => "Fred Schoeneman", :name => "author"}
