!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    %header
      = render 'layouts/header'
    .container-fluid
      .row-fluid
        .span3
          = render 'layouts/sidebar'
        .span9
          .hero-unit
            %h1#logo
              UberMatcher
            %h2 Helping nerds breed since 2012
            %p
              %a.btn.btn-primary.btn-large Learn more »
        .span9
          .row-fluid
            .span3
              %h2.span.badge.badge-info Step 1:
              %h3.span3 Violate the privacy of your nerds 
            .span3
              %h2.span.badge.badge-info Step 2:
              %h3.span3 Match up your nerds
            .span3
              %h2.span.badge.badge-info Step 3:
              %h3.span3 Watch your nerds breed
          .row-fluid
            .span4
              %p
                Import your list of single friends who you haven't been able to set up already, because they are nerds, from Facebook.
              %p
                %a.btn{:href => "#"} View details »
            .span4
              %p
                Work with other ubermatchers to make introductions between compatible nerds.  Talk to other matchmakers, review their friend lists, and decide on where to set your (mutual) friends up on a blind date.
              %p
                %a.btn{:href => "#"} View details »
            .span4
              %p Not on a video, loser.  On Facebook.  Using our app.  Over a period of years.  Get points for second dates, relationships, marriages, and children.  Yes, even if the kids are ugly.
              %p
                %a.btn{:href => "#"} View details »
      %hr
        %footer
          %p © Company 2012
    / /.fluid-container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "../assets/js/jquery.js"}
    %script{:src => "../assets/js/bootstrap-transition.js"}
    %script{:src => "../assets/js/bootstrap-alert.js"}
    %script{:src => "../assets/js/bootstrap-modal.js"}
    %script{:src => "../assets/js/bootstrap-dropdown.js"}
    %script{:src => "../assets/js/bootstrap-scrollspy.js"}
    %script{:src => "../assets/js/bootstrap-tab.js"}
    %script{:src => "../assets/js/bootstrap-tooltip.js"}
    %script{:src => "../assets/js/bootstrap-popover.js"}
    %script{:src => "../assets/js/bootstrap-button.js"}
    %script{:src => "../assets/js/bootstrap-collapse.js"}
    %script{:src => "../assets/js/bootstrap-carousel.js"}
    %script{:src => "../assets/js/bootstrap-typeahead.js"}