!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} UberMatcher
          .btn-group.pull-right
            %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user
              Username
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Profile
              %li.divider
              %li
                %a{:href => "#"} Sign Out
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li.active
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li.nav-header Sidebar
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li.nav-header Sidebar
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
          / /.well
        / /span
        .span9
          .hero-unit
            %h1 UberMatcher
            %h2 Helping nerds to breed since 2012
            %p
              %a.btn.btn-primary.btn-large Learn more »
          .row-fluid
            .span4
              %h2 Step one: Import your list of single friends
              %p Import your list of single friends who you haven't been able to set up already, because they are nerds, from Facebook.  
              %p
                %a.btn{:href => "#"} View details »
            / /span
            .span4
              %h2 Step two:  Set up your friends
              %p Talk to other matchmakers, review their friend lists, and decide on where to set your (mutual) friends up on a blind date.
              %p
                %a.btn{:href => "#"} View details »
            / /span
            .span4
              %h2 Watch the breeding happen
              %p Not on a video, loser.  On Facebook.  Using our app.  Over a period of years.  Get points for second dates, relationships, marriages, and children.  Yes, even if the kids are ugly.
              %p
                %a.btn{:href => "#"} View details »
            / /span
          / /row
        / /span
      / /row
      %hr
        %footer
          %p © Company 2012
    / /.fluid-container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "../assets/js/jquery.js"}
    %script{:src => "../assets/js/bootstrap-transition.js"}
    %script{:src => "../assets/js/bootstrap-alert.js"}
    %script{:src => "../assets/js/bootstrap-modal.js"}
    %script{:src => "../assets/js/bootstrap-dropdown.js"}
    %script{:src => "../assets/js/bootstrap-scrollspy.js"}
    %script{:src => "../assets/js/bootstrap-tab.js"}
    %script{:src => "../assets/js/bootstrap-tooltip.js"}
    %script{:src => "../assets/js/bootstrap-popover.js"}
    %script{:src => "../assets/js/bootstrap-button.js"}
    %script{:src => "../assets/js/bootstrap-collapse.js"}
    %script{:src => "../assets/js/bootstrap-carousel.js"}
    %script{:src => "../assets/js/bootstrap-typeahead.js"}